.hero {
  background-color: $verylightgray;
  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url("/images/bg-intro-mobile.svg");
    min-height: 17.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 70%;
    }
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 41rem;
      background-image: none;
    }
    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("/images/image-mockups.png");
      background-size: 93%;
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 100%;
      width: 100%;
      @include breakpoint-up(medium) {
        background-size: 52%;
      }
      @include breakpoint-up(large) {
        background-size: 93%;
        background-position: center 150%;
        height: 120%;
        width: 120%;
        left: 22%;
      }
    }
  }
  &__text {
    text-align: center;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
